<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PreProcess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PreProcess.Properties.Settings>
            <setting name="FTP" serializeAs="String">
                <value>mfs-innovate.imedidata.com</value>
            </setting>
            <setting name="DownLoadPath" serializeAs="String">
                <value>/rave564conlabtesting28/TestLilly2 (Dev)/WR_177254_Lilly_Intergration/</value>
            </setting>
            <setting name="UploadPathPCV" serializeAs="String">
                <value>/rave564conlabtesting28/TestLilly2 (Dev)/WR_177254_Lilly_Intergration_PCV/</value>
            </setting>
            <setting name="UploadPathIMP" serializeAs="String">
                <value>/rave564conlabtesting28/TestLilly2 (Dev)/WR_177254_Lilly_Intergration/</value>
            </setting>
            <setting name="ArchivePath" serializeAs="String">
                <value>\PreProcess\Archive\</value>
            </setting>
            <setting name="ShiftJisPath" serializeAs="String">
                <value>\PreProcess\Shift-Jis\</value>
            </setting>
            <setting name="UTF8Path" serializeAs="String">
                <value>\PreProcess\UTF8\</value>
            </setting>
            <setting name="Log" serializeAs="String">
                <value>\PreProcess\Log\</value>
            </setting>
            <setting name="DownLoadFileName" serializeAs="String">
                <value>IMP301005.dat,IMP301010.dat</value>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value>MFSadmin</value>
            </setting>
            <setting name="PWD" serializeAs="String">
                <value>Passw0rd*5</value>
            </setting>
            <setting name="DownLoadLocal" serializeAs="String">
                <value>\\PreProcess\\Shift-Jis\\</value>
            </setting>
            <setting name="UploadPathREGION" serializeAs="String">
                <value>/rave564conlabtesting28/TestLilly2 (Dev)/WR_177254_Lilly_Intergration_REGION/</value>
            </setting>
        </PreProcess.Properties.Settings>
    </userSettings>
</configuration>
